/* Your styles here */

.head {
    text-align: center;
    background-color: black;
    padding-bottom: 1em;
    padding-top: 0.8em
}
.primo {
background-image: url(../images/banner.jpg);
padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin-bottom: 3em;
    background-size: contain
} 
.secondo {
    justify-content: center;
    margin: auto;
    font-size: x-large;
    padding: 1em 2em;
}

h1 { margin-top: 1em;
    padding-bottom: 1em;
    color: #02b8b8;
    font-weight: bolder;
    font-size: xx-large;
}
.partiamo {
    
    background-color: orangered;
    border: orangered;
}
a {
    color: white;
}
h3 {
    font-size: larger;
    color: #22a1b7;
    padding: 2em 0;
}
.terzo {
    font-size: x-large;
    text-align: center;
    padding: 2em 2em;
    margin-bottom: 2em
}

    
.img1 {
    
    text-align: center;
    margin: 2em 0em


}
.quarto {
text-align: center;
    padding: 2em 2em;
    margin-bottom: 2em;
    font-size: x-large;

    
}
.quinto {
    text-align: center;
    margin: 2em 0em;
    background-color: orangered;
    padding-bottom: 3em;
    margin-bottom: 2em;
}
.title-epicode {

color: white;
    font-size: xx-large 
}
.quinto p {
    font-size: medium;
    color: white;
    margin-bottom: 2e;
}

.sesto {
    margin: 1em 1em;
    border: 1px solid #dedede;
    font-size: x-large;
}
.sesto div {
    text-align: center;
    padding: 2em 4em;
    margin-bottom: 2em
}
.img2{
    margin: 1em 1em;
    border: 1px solid #dedede;
    font-size: x-large;
}
.settimo {
    text-align: center;
    padding: 2em 2em;
    margin-bottom: 2em
}
.img3 {
    margin: 1em 1em;
    border: 1px solid #dedede;
    font-size: x-large;
}
.ottavo {
    text-align: center;
    padding: 2em 2em;
    margin-bottom: 2em
}
.nono {
    text-align: center;
    background-color: #22a1b7;
    color: white;
    padding: 1em 1em;
}
h2 {
    margin: 1em 1em;
    font-size: xx-large;
}
.lista {
    text-align: center;
    padding: 2em 4em;
    margin-bottom: 2em
}
.lista p {
    font-size: larger;
    
}
i {
    font-size: x-small;
    margin-bottom: 0.5em;
    margin-right: 1em;
}
button {
    font-size:  large;
}
.mezzo {
    margin-top: 2em;
}
.ultimi {
    margin-top: 2em;
}
